<form id="loginForm" name="f" action="login" method="post" class="form-horizontal">
    <fieldset>
        <legend>Login to my account</legend>
        <div class="alert alert-error hide" id="login-invalid">
            <strong>Woops!</strong>  Your username or password is invalid.
        </div>
        <div class="control-group">
            <label for="j_username" class="control-label">Username</label>
            <div class="controls"><input type="text" id="j_username" name="username" value="" autocomplete="off"/></div>
        </div>
        <div class="control-group">
            <label for="j_password" class="control-label">Password</label>
            <div class="controls"><input type="password" id="j_password" name="password" value=""/></div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn">Login</button>
        </div>
    </fieldset>
</form>